<!DOCTYPE html>
<html lang="fr">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/showAnnonce.css}"/>
  <title>Accueil</title>
  </head>
  

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		    <a class="navbar-brand" href="/"><img th:src="@{/img/mini_logo.png}" alt="LOC'Y" class="logo"/></a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		  
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav mr-auto">
		        <li class="nav-item">
		          <a class="nav-link" href="/"></a>
		        </li>
		
		        <ul class="navbar-nav justify-content-end">
		          <li class="nav-item">
		             <a class="nav-link" href="/annonces">Annonces</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="/connexion">Se connecter</a>
		          </li>
		        </ul>
		      </ul>
		    </div>
		  </nav>
	</header>
	
		<form action="#" th:action="@{/save}" th:object="${annonce}" method="post">
	
	
            <table>
            
		          <tr>
		          <section class="d-flex justify-content-between">
		            <section class="description">
		                     <div class="">
							    <input type="email" class="form-control border border-white" th:field="*{titre}">
							 </div>
		                	
			                <article>
			                	<div>
								  <input  type="search" class="form-control   border border-white titre" th:field="*{type}">
								</div>
								<div class="d-flex">
									<p>Nombre de voyageurs:</p>
							      	<input type="search" class="border border-white" th:field="*{nb_voyageurs}">
							    </div>
							    <div class="d-flex">
									<p>Nombre de chambres:</p>
							      	<input type="search" class="border border-white"   th:field="*{nb_chambres}">
							    </div>
							    
				            </article>
				            <hr>
					        <article>
					            <h4>Description du bien</h4>
					            <textarea class="form-control border border-white" type="text" th:field="*{description}" rows="3"></textarea>
					        </article>
				            
				      </section>
				      <section class="réservation">
				      	<article>
				            <div>
				              <h3>Modalité de réservation : </h3>
				              <div class="d-flex"> <input type="text" class="form-control border border-white"   th:field="*{prix}"><h6>€ la nuit / personne</h6></div>
				            </div>   
				        </article>
				        <div class="row">
				            <div class="col-sm-6">
				                <div class="form-group">
				                    <span class="form-label">Arrivée</span>
				                    <input class="form-control" type="date" required>
				                </div>
				            </div>
				            <div class="col-sm-6">
				                <div class="form-group">
				                    <span class="form-label">Départ</span>
				                    <input class="form-control" type="date" required>
				                </div>
				            </div>
				
				        </div>
				        <div class="form-btn">
				          <button class="submit-btn">
				          <a th:href="@{/edit/{id}(id=${annonce.id})}" class="text-light">Modifier</a></button>
				        </div>
				        <div class="form-btn">
				          <button class="submit-btn2"><a th:href="@{/delete/{id}(id=${annonce.id})}" class="text-light">Supprimer</a></button>
				        </div>
					  </section>
					  
					</section>
					<section>
				        <hr>
				        <h3>Localisation</h3>
				        	<input type="search" class="form-control border border-white"  placeholder="Adresse" th:field="*{adresse}">
				        	<input type="text" class="form-control border border-white"  placeholder="Lyon" th:field="*{ville}">
				    </section>
					
			     </tr>

            </table>

</body>