<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- include css in the header -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    
   <head>
      <meta charset="UTF-8" />
      <title>YCL</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
   	  	<div class="container">
        	<h1>
            	<!-- include image from static resources -->
            	<img th:src="@{/img/mini_logo.png}" alt="logo not found"/>
        	</h1>
    	</div>
      <!-- <a href="addEtudiant">Ajouter un étudiant</a> -->
      <br/><br/>
      <div>
         <table border="1">
            <tr>
               <th>Nom</th>
               <th>Prénom</th>
            </tr>
            <tr th:each ="etudiant : ${etudiants}">
               <td th:utext="${etudiant.nom}">...</td>
               <td th:utext="${etudiant.prenom}">...</td>
            </tr>
         </table>
      </div>
      
      <br><br>
      
      <form action="#" data-th-action="addEtudiant">
    		<button type="submit" name="action" value="save">Ajouter un étudiant</button>
	</form>
      
      
        <!-- include javascript in the footer -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib.js}"></script>
    
   </body>
</html>